<div class="modal-overlay" (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)">
  <div class="modal-box" (click)="$event.stopPropagation()">

    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="close()"></button>

    <h2>{{ isLogin ? 'Login' : 'Register' }}</h2>

    @if (isLogin) {
      <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">

        <input formControlName="identifier" placeholder="Usuario o email">
        @if (identifierCtrl?.touched && identifierCtrl?.errors?.['required']) {
          <p class="error">El usuario o email es obligatorio</p>
        }

        <div class="input-group">
          <input
            [type]="showConfirmPassword ? 'text' : 'password'"
            formControlName="password"
            placeholder="Password"
          >
          <span
            class="eye"
            (mousedown)="showConfirmPassword = true"
            (mouseup)="showConfirmPassword = false"
            (mouseleave)="showConfirmPassword = false"
          >
            <i class="bi bi-eye"></i>
          </span>
        </div>
        @if (passwordCtrl?.touched && passwordCtrl?.errors?.['required']) {
          <p class="error">La contraseña es obligatoria</p>
        }
        @if (passwordCtrl?.touched && passwordCtrl?.errors?.['minlength']) {
          <p class="error">Mínimo 6 caracteres</p>
        }

        <button class="btn" type="submit">Login</button>
      </form>
    } @else {
      <form [formGroup]="registerForm" (ngSubmit)="submitRegister()">

        <input formControlName="username" placeholder="Username">
        @if (usernameCtrl?.touched && usernameCtrl?.errors?.['required']) {
          <p class="error">El username es obligatorio</p>
        }
        @if (usernameCtrl?.touched && usernameCtrl?.errors?.['notOnlyWhiteSpace']) {
          <p class="error">No se permiten solo espacios en blanco</p>
        }

        <input formControlName="name" placeholder="Nombre">
        @if (nameCtrl?.touched && nameCtrl?.errors?.['required']) {
          <p class="error">El nombre es obligatorio</p>
        }
        @if (nameCtrl?.touched && nameCtrl?.errors?.['notOnlyWhiteSpace']) {
          <p class="error">No se permiten solo espacios en blanco</p>
        }

        <input formControlName="surnames" placeholder="Apellidos">
        @if (surnamesCtrl?.touched && surnamesCtrl?.errors?.['required']) {
          <p class="error">Un apellido es obligatorio</p>
        }
        @if (surnamesCtrl?.touched && surnamesCtrl?.errors?.['notOnlyWhiteSpace']) {
          <p class="error">No se permiten solo espacios en blanco</p>
        }

        <input type="date" formControlName="birthDate">
        @if (birthDateCtrl?.touched && birthDateCtrl?.errors?.['required']) {
          <p class="error">La fecha de nacimiento es obligatoria</p>
        }

        <input formControlName="email" placeholder="Email">
        @if (emailCtrl?.touched && emailCtrl?.errors?.['required']) {
          <p class="error">El email es obligatorio</p>
        }
        @if (emailCtrl?.touched && emailCtrl?.errors?.['email']) {
          <p class="error">Email inválido</p>
        }

        <div class="input-group">
          <input
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            placeholder="Password"
          >
          <span
            class="eye"
            (mousedown)="showPassword = true"
            (mouseup)="showPassword = false"
            (mouseleave)="showPassword = false"
          >
            <i class="bi bi-eye"></i>
          </span>
        </div>
        @if (registerPasswordCtrl.touched && registerPasswordCtrl.errors?.['required']) {
          <p class="error">La contraseña es obligatoria</p>
        }
        @if (registerPasswordCtrl.touched && registerPasswordCtrl.errors?.['minlength']) {
          <p class="error">Mínimo 6 caracteres</p>
        }
        @if (registerPasswordCtrl.touched && registerPasswordCtrl.errors?.['pattern']) {
          <p class="error">Debe tener una mayúscula y un número</p>
        }

        <div class="input-group">
          <input
            [type]="showConfirmPassword ? 'text' : 'password'"
            formControlName="confirmPassword"
            placeholder="Confirm Password"
          >

          <span
            class="eye"
            (mousedown)="showConfirmPassword = true"
            (mouseup)="showConfirmPassword = false"
            (mouseleave)="showConfirmPassword = false"
          >
            <i class="bi bi-eye"></i>
          </span>
        </div>
        @if (confirmPasswordCtrl?.touched && confirmPasswordCtrl?.errors?.['required']) {
          <p class="error">Confirma la contraseña</p>
        }
        @if (registerForm.errors?.['passwordMismatch']) {
          <p class="error">Las contraseñas no coinciden</p>
        }

        <button class="btn" type="submit">Register</button>
      </form>
    }

    <p class="switch">
      {{ isLogin ? '¿No tienes cuenta?' : '¿Ya tienes cuenta?' }}
      <span (click)="toggleMode()">
        {{ isLogin ? 'Regístrate' : 'Login' }}
      </span>
    </p>

    @if (errorMessage) {
      <p class="error">{{ errorMessage }}</p>
    }

  </div>
</div>
