<div class="home-container">

  <div class="background-dark">
    <section class="hero">
      <h1>Bienvenido a Elden Ring Web</h1>
      <p class="subtitle">
        Explora el mundo de Elden Ring como nunca antes.
      </p>

    </section>

    <section class="info">
      <p>
        Esta web está basada en una API de Elden Ring que permite consultar información
        sobre armas, enemigos, objetos, misiones de personajes y mucho más.
      </p>

      <p>
        Todos los derechos pertenecen a FromSoftware y Kadokawa Corporation.
        Este proyecto es únicamente con fines educativos.
      </p>

      <p>
        Los usuarios registrados pueden guardar elementos en favoritos y, próximamente,
        crear y compartir builds personalizadas.
      </p>

      <div class="buttons">
        <a routerLink="/npc-page" class="btn">Explorar</a>
        <a routerLink="/login" class="btn">Iniciar sesión</a>
      </div>
    </section>
  </div>

</div>
